* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    gap: 2em;
    padding: 1em;
    justify-content: center;
    min-height: 100vh;
}

.grid-item {
    background-color: #ffffff;
    border-radius: 0.75em;
    padding: 1em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navigation {
    background-color: #00274C;
    color: white;
    text-align: center;
    padding: 1.25em;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.navigation img {
    max-width: 10rem;
    height: auto;
    margin: 0 auto;
}

.navigation h1 {
    font-size: 1.6rem;
    margin-top: 1rem;
}

.navigation nav ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.navigation nav ul li {
    display: inline;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #003366;
    border-radius: 8px;
}

.navigation a.active {
    text-decoration: none;
    color: #FFC300
}

.navigation a {
    color: white;
}


.navigation a:hover {
    color: green;
}

/* h2 {
    font-size: 2.5rem;
    color: #00274C;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    text-align: center;
} */

section h2 {
    font-size: 1.5rem;
    color: #00274C;
    margin-bottom: 10px;
    border-bottom: 2px solid #FFCB05;
    padding-bottom: 5px;
}

section p {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 1rem;
}

section article h3 {
    font-size: 1.3rem;
    color: #003366;
    margin-bottom: 8px;
}

section img {
    max-width: 30em;
    height: auto;
    margin: 0 auto;
}

section ul {
    list-style-type: square;
    padding-left: 20px;
    color: #003366;
}

section ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    color: #00274C;
    padding: 15px;
    border-radius: 12px;
}

footer a {
    color: #00274C;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FFC300;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}

.skip a {
    position: absolute;
    top: -40px;
    left: 10px;
    background-color: #FFCB05;
    color: #00274C;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: top 0.3s ease;
}

.skip a:focus {
    top: 10px;
    left: 10px;
}


